.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 0.6s;
    border-radius: 5px;
    position: fixed;
    top: 150px;
    right: 20px;
    z-index: 1;
  }
  
  .show {
    opacity: 1;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  