<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b7aee0db-5960-486e-8e9f-f3f968077c0d/resourcegroups/cloud-shell-storage-southcentralus/providers/Microsoft.Web/sites/ApiRestNutriTEC</ResourceId>
    <ResourceGroup>cloud-shell-storage-southcentralus</ResourceGroup>
    <ApiResourceId>/subscriptions/b7aee0db-5960-486e-8e9f-f3f968077c0d/resourceGroups/NutriTECP2/providers/Microsoft.ApiManagement/service/ApiRestapi/apis/ApiRestNutritec</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apirestnutritec.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b00a8e33-d9a8-4969-b4c0-c68e675ed4a7</ProjectGuid>
    <MSDeployServiceURL>apirestnutritec.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiRestNutriTEC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ApiRestNutriTEC</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>