h2{
    font-weight: 400;
    color:white;
}
h2 span {
    padding: 15px;
    font-weight: bold;
}

li{
    list-style: none !important;
    margin: 20px;
}

a{
    text-decoration: none !important;
    color: white;
    margin-right:1rem;
}

.nav-div{
    display: flex;
    background-color: #333;
    padding: 20px;
    width: 100%;
    height: 100px;
    padding: .4rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}
.ul-nav-div{
    display: flex;
    position: absolute;
    top:-700px;
    left: -2000px;
    margin-left:auto ;
    margin-right: auto;
    text-align: center;
    transition: all .7s ease;
   
   

}
.ul-nav-div a{
    color: #333;
    font-size: 1.5rem;

}

.active{
    display: block;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    top:30%;
    left: 0;
    right: 0;
    text-align: center;
}

.active a{
    color: white;
    margin-top: 1rem;
    font-size: 2rem;
}

.inicio{
    position: absolute;
    background-color: #555;
    top: -100000px;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .7s ease;
   

    
}
.inicio_active{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0% 0% 70% 0%;
    
}




@media  (min-width:768px) {
  .button-bar{
    display:none;
  }
  .ul-nav-div{
    position:initial;
    margin: 0;
  }
  .ul-nav-div li{
    display: inline;
    font-size: 1rem;

  }
  .ul-nav-div li a{
    color: white;
  }
  .inicio_active{
    display: none;
  }
  

}

@media (max-width:768px){
  .nav-div{
    position: static;
  }
}


    
