.container-login-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}


.input-gmail, .input-password{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px;
    font-size:1.5rem;
    text-align: center;
}

h1{
    font-size:17px;
}

.fa-user{
   font-size: 70px;
   transition: .7s ease;
}
.fa-user:hover{
    color:#555;
    position: relative;
    top:-10px;
}

.fa-lock{
    font-size: 18px;
}
.container-form{
    border-style:solid;
    border-color: cadetblue;
    border-width: 1px;
    box-shadow: 18px 5px 20px 5px gray;
    padding:20px;
    border-radius: 20% 20% 20% 20%;

}

.icon{
    text-align: center;
    padding: 25px;
}

.button-login-div{
   text-align: center;

}


.button-login{
    background-color: #999;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    font-size:2rem;
    box-shadow:5px 2px 2px 1px black;
}

.icons-application{
    text-align:center;
    padding: 15px;
}
.fa-brands{
    margin:10px;
    font-size: 1.5rem;
}
.fa-brands:hover{
    color: red;
}

.facebook:hover{
    color:blue;
}
.pregunta-registro{
    text-align:center;
    padding: 15px;
    
}

.a-pregunta{
    color: black;
    font-size:2rem;
}

